* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "DM Sans", sans-serif;
}
p {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  /* font-size: 30px; */
}
.nav-item a {
  font-family: "DM Sans";
  font-weight: 700;
}

.navbar-nav li a:hover {
  color: #ff6600 !important;
  border-top: 3px solid #ff6600;
}
nav .nav-brand img {
  width: 64px;
  height: 64px;
  top: 28px;
  left: 120px;
  position: absolute;
}
header .nav-item .nav-link:hover {
  color: #ff6600;
}
nav .nav-link {
  line-height: 28px;
  width: 106px;
  font-size: 16px;
  left: 470px;
  top: 28px;
  font-family: "DM Sans";
  text-align: center;
  letter-spacing: 0.75px;
}

.sign-up-btn {
  border-radius: .8rem;
  background-color: #003399;
}
.sign-up-btn:link,
.sign-up-btn:visited{
  color: #fff !important;

}
.sign-up-btn:hover {
  box-shadow: 0px 2px 5px #003399;
}
.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #f9f9f9;
  position: absolute;
  top: 120px;
  left: 267px;
}
.container > .animated {
  background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 95px;
  margin-bottom: 60px;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.container > .bounce {
  animation-name: bounce;
}
.jumbotron .all-in-one {
  height: 70px;
  width: 646px;
  left: 120px;
  top: 484px;
  /* position: absolute; */
  font-size: 3.5rem;
  font-family: "Gochi Hand";
  color: #001732;
}
.jumbotron .track-your-progress {
  height: 76px;
  width: 478px;
  left: 120px;
  top: 572px;
  /* position: absolute; */
  font-size: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #001732;
}
/* Hero Section */
.jumbotron .get-started {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  background: #ff6600;
  border-radius: 20px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 16px;
  height: 64px;
  width: 180px;
  box-shadow: 0 2px 5px #003399;
  animation-duration: 5s;
  animation-fill-mode: both;
  color: #f9f9f9;

  z-index: 99 !important;
}
/* .jumbotron figure img {
  width: 652px;
  height: 652px;
} */
.jumbotron a:hover {
  box-shadow: 0px 2px 5px #003399;
}
#card-section,
#card-section .card {
  background: linear-gradient(180deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
}
#card-section .card {
  width: 20rem;
}
#card-section .card-circle {
  width: 100px;
  height: 100px;
  border-radius: 68px;
  background: #003399;
  margin-left: 1.3rem;
}
#card-section .card-title {
  font-family: "DM Sans";
  font-size: 25px;
  line-height: 45px;
  letter-spacing: 1px;
  font-weight: 600;
}
#card-section .card-text {
  font-family: "DM Sans";
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 1.8rem;
  letter-spacing: 0.75px;
  top: 205px;
  color: #001732;
}
#card-section .row {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#subscribe .rectangle {
  border-radius: 52px;
  box-shadow: 0px 32px 64px 0px #001732 8%;
}
.subscribe-circle {
}
.container .how-it-works {
  /* margin-bottom: 10px;
  margin-top: 10px; */
  width: 85px;
  height: 28px;
}
.container .how-it-works p {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 14px;
  color: #000000;
  font-weight: bold;
}
.common-questions {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 4.5px;
  color: #003399;
  /* margin-top: 25px; */
  padding-top: 35px;
  padding-bottom: 15px;
}
.frequent-questions {
  font-family: "Gochi Hand";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #001732;
}
.quick-answers {
  color: #001732;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}
.faq-dropdown p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
  color: #001732;
}
.faq-bottom {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
/* Footer section */
footer,
footer p {
  background: #003399;
  font-size: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  text-align: justify;
  color: #ffffff;
}
footer h3 {
  color: rgba(255, 255, 255, 0.5);
  height: 22px;
  font-family: "DM Sans";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.231818px;
  font-weight: bold;
}
footer li {
  padding-bottom: 10px;
}
footer li a {
  height: 20px;
  font-family: "DM Sans";
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  margin-bottom: 20px;
  text-decoration: none !important;
  font-style: normal;
  color: #ffffff;
  opacity: 0.9;
  font-weight: 400;
}
footer li a:hover {
  color: #ff6600;
}
footer .text-white {
}

/* footer .widget-social-media .fab {
  height: 40px;
  width: 12px;
  padding-right: 3px;
} */

/* Media Queries */
@media only screen and (max-width: 576px) {
  .jumbotron .all-in-one {
    /* position: absolute; */
    font-size: 2.3rem;
  }
  .jumbotron .track-your-progress {
    width: 100%;
    padding-bottom: 0rem;
    text-align: left;
  }
}
/* Animation */
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
